/* General App Styling */
.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background: url(../Retail_7-1024x680.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Login and Register Form Styling */
.login, .register {
  background: rgb(118, 205, 240);
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 80px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login input, .register input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.login button, .register button {
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login button:hover, .register button:hover {
  background-color: #0056b3;
}

.toggle-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-link:hover {
  color: #0056b3;
}

/* Dashboard Styling */
.dashboard {
  background: rgb(118, 205, 240);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.dashboard p {
  font-size: 18px;
  margin: 10px 0;
}

.dashboard select,
.dashboard input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dashboard button {
  padding: 10px 20px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dashboard button:hover {
  background-color: #218838;
}

/* Transaction History Styling */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
